@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

@font-face {
  font-family: logo;
  src: url(Font/abnes.ttf);
}

@font-face {
  font-family: content;
  src: url(Font/HelveticaNeueMediumItalic.otf);
}

@font-face {
  font-family: menu;
  src: url(Font/Game\ Of\ Squids.ttf);
}

.container {
  overflow-x: hidden;
}

.blue {
  display: flex;
}

.red {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: beige;
  width: 100%;
  height: 102vh;
}

.orange {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
  height: 100vh;
  width: 100%;
}

.purple {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: beige;
  width: 100%;
  height: 100vh;
}

.violet {
  width: 100%;
  height: 10vh;
  background-color: rgb(168, 161, 168);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ############## First Page Css ################ */

.header {
  width: 10%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 80%;
  height: 15vh;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo p {
  font-size: 3rem;
  font-family: logo;
}
/* ############## NavBar Css ################# */

.nav {
  width: 80%;
  height: 40vh;
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  font-size: 13px;
  text-decoration: none;
  color: black;
  transform: rotate(270deg);
  font-family: menu;
}

.toggleMenu {
  position: absolute;
  width: 0%;
  height: 0vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 15rem;
}

.toggleMenu a {
  display: none;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
  font-family: menu;
}

/* .Menu {
  display: none;
} */

/* ########### Social Media Section ############## */

.socialMedia {
  height: 20vh;
  width: 80%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.socialMedia a {
  color: black;
}

.socialMedia i {
  font-size: 1.5rem;
  transition: 0.5s;
}

.socialMedia i:hover {
  color: cyan;
}

/* ############ Intro Section ########### */

.intro {
  width: 80%;
  height: 100vh;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.introBox {
  width: 80%;
  height: 50%;
  /* background-color: red; */
}

.hello {
  width: 100%;
  height: 40%;
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.hello p {
  font-family: content;
  font-size: 5.5rem;
  padding-left: 4rem;
}

.nameBox {
  width: 100%;
  height: 30%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.nameBox p {
  /* top: 55%; */
  font-size: 4rem;
  font-family: content;
  letter-spacing: 20px;
  padding-left: 4rem;
}

.prof {
  width: 100%;
  height: 30%;
  /* background-color: beige; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prof .one {
  width: 60%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.8; */
}

.one p {
  font-size: 6rem;
  font-family: "Arimo", sans-serif;
  /* opacity: 10; */
}

.prof .two {
  width: 50%;
  height: 100%;
  /* border-radius: 5rem; */
  /* background-color: rgb(230, 241, 143); */
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.two p {
  font-family: "Arimo", sans-serif;
  font-size: 5.5rem;
}

.toggle {
  display: none;
}

.Menu {
  display: none;
}

/* ############## Second Page Css ################### */
.aboutHead {
  width: 100%;
  height: 20vh;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutHead p {
  font-size: 5rem;
  font-family: menu;
}

.aboutBody {
  width: 100%;
  height: 80vh;
  /* background-color: cyan; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftbox {
  width: 25%;
  height: 70vh;
  /* background-color: red; */
  border-radius: 2rem;
}

.leftbox img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.rightbox {
  width: 60%;
  height: 70vh;
  /* background-color: yellow; */
}

.title {
  width: 100%;
  height: 30vh;
  /* background-color: cyan; */
}

.firstname {
  width: 100%;
  height: 50%;
  /* background-color: blue; */
  display: flex;
  align-items: end;
}

.firstname p {
  /* font-family: "Arimo", sans-serif; */
  font-family: logo;
  font-size: 4.9rem;
  color: rgb(145, 142, 142);
  padding-left: 0.5rem;
}

.lastname {
  width: 100%;
  height: 50%;
  /* background-color: red; */
  display: flex;
  align-items: start;
}

.lastname p {
  /* font-family: "Arimo", sans-serif; */
  font-family: logo;
  font-size: 5rem;
  padding-left: 0.5rem;
}

.details {
  width: 100%;
  height: 40%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
}

.details p {
  font-size: 3.5rem;
  /* font-family: "Arimo", sans-serif; */
  font-family: "Edu VIC WA NT Beginner", cursive;
  padding-left: 0.5rem;
}

.cv {
  width: 100%;
  height: 20%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.cv .Download {
  width: 20%;
  height: 60%;
  border-radius: 1rem;
  /* background-color: rgb(53, 242, 210); */
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  transition: 0.5s;
}

.Download:hover {
  border: 2px solid rgb(158, 158, 158);
  cursor: pointer;
  /* box-shadow: rgb(0, 0, 0) 0px 3px 8px; */
}

.Download:hover p {
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(158, 158, 158);
}

.Download p {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Edu VIC WA NT Beginner", cursive;
  transition: 0.5s;
}
/* ############# POrtfolio Section Css ############# */

.pageHead {
  width: 100%;
  height: 20vh;
  /* background-color: wheat; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageHead p {
  /* background-color: red; */
  /* transform: rotate(-90deg); */
  font-size: 5rem;
  font-family: menu;
  transform-origin: center;
  font-weight: 600;
}

.projectMain {
  width: 100%;
  height: 80vh;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.p1 {
  width: 30%;
  height: 60%;
  /* border: 2px solid black; */
  border-radius: 1rem;
}

.pbox1 {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  border-radius: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

.pbox1 img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: 0.5s ease;
}

.pbox1:hover img {
  transform: scale(1.1);
}

.pbox1_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), cyan);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 4rem; */
  text-align: center;
  gap: 30px;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.pbox1:hover .pbox1_layer {
  transform: translateY(0);
}

.pbox1_layer h4 {
  font-size: 3rem;
  font-family: content;
  color: white;
}

.pbox1_layer p {
  font-size: 1.5rem;
  color: white;
  font-family: content;
}

.pbox1_layer a {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;
}

.pbox1_layer a i {
  font-size: 1.5rem;
}

.p2 {
  width: 30%;
  height: 60%;
  /* border: 2px solid black; */
  border-radius: 1rem;
}

.pbox2 {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  border-radius: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

.pbox2 img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: 0.5s ease;
}

.pbox2:hover img {
  transform: scale(1.1);
}

.pbox2_layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), cyan);
  position: absolute;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  gap: 30px;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.pbox2:hover .pbox2_layer {
  transform: translateY(0);
}

.pbox2_layer h4 {
  font-size: 3rem;
  font-family: content;
  color: white;
}

.pbox2_layer p {
  font-size: 1.5rem;
  color: white;
  font-family: content;
}

.pbox2_layer a {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;
}

.pbox2_layer a i {
  font-size: 1.5rem;
}

.p3 {
  width: 30%;
  height: 60%;
  /* border: 2px solid black; */
  border-radius: 1rem;
}
.pbox3 {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  border-radius: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

.pbox3 img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: 0.5s ease;
}

.pbox3:hover img {
  transform: scale(1.1);
}

.pbox3_layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), cyan);
  position: absolute;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  gap: 30px;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.pbox3:hover .pbox3_layer {
  transform: translateY(0);
}

.pbox3_layer h4 {
  font-size: 3rem;
  font-family: content;
  color: white;
}

.pbox3_layer p {
  font-size: 1.5rem;
  color: white;
  font-family: content;
}

.pbox3_layer a {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;
}

.pbox3_layer a i {
  font-size: 1.5rem;
}

/* ############### Contact Section Css ############### */

.contacthead {
  width: 100%;
  height: 20vh;
  /* background-color: #6c63ff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacthead p {
  font-size: 5rem;
  font-family: menu;
  font-weight: 700;
}

.contactBody {
  width: 100%;
  height: 80vh;
  /* background-color: red; */
  display: flex;
}

.left {
  width: 50%;
  height: 100%;
  /* background-color: rgba(255, 217, 0, 0.384); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 80%;
  height: 90%;
}

.right {
  width: 50%;
  height: 80vh;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardbox {
  width: 70%;
  height: 90%;
  /* background-color: yellow; */
  /* border: 3px solid black; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.callCard {
  width: 200px;
  height: 200px;
  /* background-color: red; */
  border-radius: 1rem;
  border: 2px solid black;
  transition: 0.5s ease;
}

.callCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  cursor: pointer;
}

.call-icon {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-icon a {
  color: black;
}

.call-icon i {
  font-size: 5rem;
}

.mailCard {
  width: 200px;
  height: 200px;
  /* background-color: red; */
  border-radius: 1rem;
  border: 2px solid black;
  transition: 0.5s ease;
}

.mailCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  cursor: pointer;
}

.mail-icon {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-icon a {
  color: black;
}

.mail-icon i {
  font-size: 5rem;
}

.addressCard {
  width: 200px;
  height: 200px;
  /* background-color: red; */
  border-radius: 1rem;
  border: 2px solid black;
  transition: 0.5s ease;
}

.addressCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  cursor: pointer;
}

.address-icon {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-icon a {
  color: black;
}

.address-icon i {
  font-size: 5rem;
}

.socialCard {
  width: 200px;
  height: 200px;
  /* background-color: red; */
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  transition: 0.5s ease;
}

.socialCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  cursor: pointer;
}

.socialCard a {
  color: black;
}

.socialCard a i {
  font-size: 5rem;
}

/* ###################################### Footer Css  ########################### */
.violet p {
  font-size: 1.5rem;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: 700;
}

/*######################### Responsiven Work #############################*/

@media (max-width: 600px) {
  .header {
    display: none;
  }

  .intro {
    width: 100%;
  }

  .introBox {
    width: 100%;
    height: 70%;
  }

  .hello {
    width: 100%;
    height: 30%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .hello p {
    font-family: content;
    font-size: 4.2rem;
    padding-left: 3rem;
  }

  .nameBox {
    width: 100%;
    height: 30%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .nameBox p {
    /* top: 55%; */
    font-size: 2.5rem;
    font-family: content;
    letter-spacing: 20px;
    padding-left: 3rem;
  }

  .prof {
    width: 100%;
    height: 40%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .prof .one {
    width: 100%;
    height: 50%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0.8; */
  }

  .one p {
    font-size: 4rem;
    font-family: "Arimo", sans-serif;
    /* opacity: 10; */
  }

  .prof .two {
    width: 100%;
    height: 50%;
    /* border-radius: 5rem; */
    /* background-color: rgb(230, 241, 143); */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .two p {
    font-family: "Arimo", sans-serif;
    font-size: 4.5rem;
  }

  .Menu {
    display: none;
  }

  /* ####################### Second Page Responsiveness ############################ */

  .red {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
    flex-direction: column;
    height: 120vh;
  }

  .aboutHead {
    /* background-color: yellow; */
    font-size: 1rem;
    width: 100%;
  }

  .aboutHead p {
    font-size: 3rem;
  }

  .aboutBody {
    flex-direction: column;
    /* background-color: yellowgreen; */
    height: 100vh;
  }

  .leftbox {
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .leftbox img {
    height: 50vh;
    width: 100%;
  }

  .rightbox {
    /* background-color: white; */
    width: 100%;
    height: 150%;
  }

  .title {
    /* background-color: red; */
    height: 40%;
  }

  .firstname p {
    font-size: 2.5rem;
  }

  .lastname p {
    font-size: 2.5rem;
  }

  .details p {
    font-size: 1.9rem;
    text-align: start;
    padding-left: 0.3em;
  }

  .cv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cv .Download {
    width: 50%;
    height: 80%;
    margin: 0;
  }

  /* ######################### Third Page Responsiveness ####################### */

  .orange {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: orange; */
    height: 130vh;
  }

  .pageHead {
    width: 100%;
    height: 20vh;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pageHead p {
    /* background-color: red; */
    transform: rotate(0deg);
    font-size: 2.5rem;
    font-family: menu;
    transform-origin: center;
    /* scale: 2; */
    font-weight: 600;
  }

  .projectMain {
    flex-direction: column;
    justify-content: space-around;
    height: 110vh;
  }

  .p1,
  .p2,
  .p3 {
    width: 90%;
    height: 30%;
  }

  .pbox1_layer h4,
  .pbox2_layer h4,
  .pbox3_layer h4 {
    font-size: 2rem;
  }

  /* ################ Fourth Page Responsiveness ####################### */

  .purple {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: purple; */
    height: 150vh;
  }

  .contacthead {
    width: 100%;
    height: 20vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contacthead p {
    /* background-color: rebeccapurple; */
    transform: rotate(0deg);
    /* transform-origin: center; */
    font-size: 2.5rem;
    font-family: menu;
    font-weight: 700;
    /* scale: 2; */
  }

  .contactBody {
    width: 100%;
    height: 80%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .contactBody .left {
    /* background-color: white; */
    width: 100%;
    height: 40%;
  }

  .left img {
    width: 100%;
    height: 100%;
  }

  .contactBody .right {
    /* background-color: white; */
    width: 100%;
    height: 50%;
  }

  .right .cardbox {
    /* background-color: yellow; */
    width: 100%;
    height: 50vh;
  }

  .callCard {
    width: 45%;
    height: 40%;
  }

  .callCard i {
    font-size: 4rem;
  }

  .mailCard {
    width: 45%;
    height: 40%;
  }

  .addressCard {
    width: 45%;
    height: 40%;
  }

  .socialCard {
    width: 45%;
    height: 40%;
  }

  .socialCard a i {
    font-size: 3.5rem;
  }
}

/* ############################# Footer Responsiveness ####################### */

.violet p {
  font-size: 0.8rem;
  font-weight: 900;
}
